{% extends "base.html" %}
{% block title %}Crear Mensaje{% endblock %}

{% block header %}
    <h1>Crear un Mensaje</h1>
{% endblock %}

{% block content %}
    <form action="{% url 'crear_Mensajes' %}" method="POST">
        {% csrf_token %}
        <label for="remitente">Remitente:</label>
        <input type="text" id="remitente" name="remitente" required><br><br>

        <label for="destinatario">Para:</label>
        <input type="text" id="destinatario" name="destinatario" required><br><br>

        <label for="asunto">Asunto:</label>
        <input type="text" id="asunto" name="asunto" required><br><br>

        <label for="contenido">Mensaje:</label>
        <textarea id="contenido" name="contenido" required></textarea><br><br>
        <input type="submit" value="Enviar Mensaje">
    </form>
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
{% endblock %}
