{% extends "base.html" }
{% block title %}Crear Mensaje{% endblock %}

{% block header %}
    <h1>Crear un Mensaje</h1>
{% endblock %}

{% block content %}
   <form action={{url}} method="POST">
   {% csrf_token %}
   <label for="para">Para:</label>
   <input type="text" id="para" name="para" required><br><br>
   <label for="asunto">Asunto:</label>
   <input type="text" id="asunto" name="asunto" required><br><br>
   <label for="">Mensaje:</label>
   <input type="text" id="mensaje" name="mensaje" required><textarea></textarea><br><br>
    <input type="submit" value="Enviar">
    </form>
{% endblock %}
