{% extends "base.html" %}
{% block title %}Eliminar Mensaje{% endblock %}

{% block header %}
    <h1>Selecciona un Mensaje para Eliminar</h1>
{% endblock %}

{% block content %}
    <ul>
        {% for mensaje in mensajes %}
            <li>
                Remitente: {{ mensaje.remitente }}<br>
                Asunto: {{ mensaje.asunto|default:"Sin asunto" }}<br>
                Destinatario: {{ mensaje.destinatario }}<br>
                Contenido: {{ mensaje.contenido }}<br>
                <a href="{% url 'eliminar_Mensajes' mensaje.id %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
