<nav>
    <ul style="list-style-type: none; padding: 0; margin: 0; display: flex;">
        <li style="margin-right: 20px;"><a href="{% url 'crear_Mensajes' %}"> Crear un nuevo Mensaje </a></li>
        <li style="margin-right: 20px;"><a href="{% url 'ver_MensajesEnviados' %}"> Mensajes Enviados </a></li>
        <li style="margin-right: 20px;"><a href="{% url 'ver_MensajesRecibidos' %}"> Mensajes Recibidos</a></li>
        <li style="margin-right: 20px;"><a href="{% url 'eliminar_Mensajes' %}"> Eliminar Mensaje</a></li>
    </ul>
</nav>