{% extends "base.html" %}
{% block title %}Ver Mensajes Enviados{% endblock %}

{% block header %}
    <h1>Mensajes Enviados</h1>
{% endblock %}

{% block content %}
    <ul>
        {% for mensaje in mensajes %}
            <li>
                Remitente: {{ mensaje.remitente }}<br>
                Destinatario: {{ mensaje.destinatario }}<br>
                Asunto: {{ mensaje.asunto }}<br>
                Contenido: {{ mensaje.contenido }}<br>
                <a href="{% url 'eliminar_Mensajes' mensaje.id %}">Eliminar</a>
            </li>
            {% empty %}
            <li>No hay mensajes enviados.</li>
        {% endfor %}
    </ul>
{% endblock %}
